@mixin transition($transition, $transition-time) {
    transition: $transition $transition-time;
    -ms-transition: $transition $transition-time;
    -moz-transition: $transition $transition-time;
    -o-transition: $transition $transition-time;
    transition: $transition $transition-time;
}

@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

@mixin gradient($start, $end) {
    background: $start;
    background: -moz-linear-gradient(top, $start 0%, $end 100%);
    background: -webkit-linear-gradient(top, $start 0%, $end 100%);
    background: linear-gradient(to bottom, $start 0%, $end 100%);
}