<!doctype html>
<!--
	feWorksheet(Template)
	Version: 1.2
-->
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="worksheet/worksheet.css">
	<script src="worksheet/worksheet.js"></script>
	<script>
		/* User script(setting) */
		$(function() {
			$('body').feWorksheet();
		});
	</script>
</head>
<body>
	<header><h1><em>Hoya</em>, Worksheet</h1></header>
	<!-- noticeWrap -->
	<section class="noticeWrap" style="overflow:hidden;">
		<h2>Notice</h2>
		<ul>
			<li></li>
		</ul>
	</section>
	<!-- //noticeWrap -->
	<!-- filterWrap -->
	<section class="filterWrap">
		<h2>Task Key/Filter</h2>
		<form action="/localTest">
			<fieldset>
				<legend>Filter option(It'll be automatically applied)</legend>
				<label><input type="checkbox" value="all">All</label>
				<label><input type="checkbox"><b class='default'>0</b><i>예정</i></label>
				<label><input type="checkbox"><b>1</b><i>완료</i></label>
				<label><input type="checkbox"><b>2</b><i>작업중</i></label>
				<label><input type="checkbox"><b>3</b><i>대기중</i></label>
				<label><input type="checkbox"><b>4</b><i>수정</i></label>
			</fieldset>
		</form>
	</section>
	<!-- //filterWrap -->
	<!-- Worksheet -->
	<section>
		<h2>Worksheet</h2>
		<h3>CSS, JS</h3>
		<table>
			<caption>.</caption>
			<thead>
				<tr>
					<th scope="col" class="menuDepth">Depth1</th>
					<th scope="col" class="menuDepth">Depth2</th>
					<th scope="col" class="menuDepth">Depth3</th>
					<th scope="col" class="menuDepth">Depth4</th>
					<th scope="col" class="filePath">폴더</th>
					<th scope="col" class="fileName">파일명</th>
					<th scope="col" class="issueMemo">Memo</th>
					<th scope="col">생성일</th>
					<th scope="col">수정일</th>
					<th scope="col" class="checkTask">Task</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="menuDepth">css</td>
					<td class="menuDepth">ui</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath">css</td>
					<td class="fileName">scss.css</td>
					<td class="issueMemo">
						기존 CSS
					</td>
					<td>2016.11.30</td>
					<td></td>
					<td class="checkTask">1</td>
				</tr>
				<tr>
					<td class="menuDepth">css</td>
					<td class="menuDepth">ui</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath">css</td>
					<td class="fileName">ui.css</td>
					<td class="issueMemo">

					</td>
					<td>2016.11.30</td>
					<td></td>
					<td class="checkTask">2</td>
				</tr>
				<tr>
					<td class="menuDepth">js</td>
					<td class="menuDepth">jquery</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath">js</td>
					<td class="fileName">jquery-1.11.3.min.js</td>
					<td class="issueMemo">

					</td>
					<td>2016.11.30</td>
					<td></td>
					<td class="checkTask">1</td>
				</tr>
				<tr>
					<td class="menuDepth">js</td>
					<td class="menuDepth">ui</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath">js</td>
					<td class="fileName">ui.js</td>
					<td class="issueMemo">

					</td>
					<td>2016.11.30</td>
					<td></td>
					<td class="checkTask">2</td>
				</tr>
			</tbody>
		</table>
	</section>




	<section>
		<h2>Worksheet</h2>
		<h3>HTML</h3>
		<table>
			<caption>.</caption>
			<thead>
				<tr>
					<th scope="col" class="menuDepth">Depth1</th>
					<th scope="col" class="menuDepth">Depth2</th>
					<th scope="col" class="menuDepth">Depth3</th>
					<th scope="col" class="menuDepth">Depth4</th>
					<th scope="col" class="filePath">폴더</th>
					<th scope="col" class="fileName">파일명</th>
					<th scope="col" class="issueMemo">Memo</th>
					<th scope="col">생성일</th>
					<th scope="col">수정일</th>
					<th scope="col" class="checkTask">Task</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="menuDepth">layout</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath"></td>
					<td class="fileName">login.html</td>
					<td class="issueMemo">
						
					</td>
					<td>2016.11.30</td>
					<td></td>
					<td class="checkTask">1</td>
				</tr>
				<tr>
					<td class="menuDepth">layout</td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="menuDepth"></td>
					<td class="filePath"></td>
					<td class="fileName">main.html</td>
					<td class="issueMemo">
						
					</td>
					<td>2016.12.02</td>
					<td></td>
					<td class="checkTask">1</td>
				</tr>
			</tbody>
		</table>
	</section>




	<a href="#" class="btn_top bounceInUp animated">Top</a>

	<!-- //Worksheet -->
</body>
</html>