div#netconf-table {
    font-family: "Helvetica", "Arial", sans-serif;
    height: 318px;
    margin-top: 25px;

    div {
        height: inherit;
        div.column{
            height: inherit;
            display: inline-block;
        }

        div.column.table.features {
            width: 20%;
        }

        div.column.table.hidden-layers {
            width: 40%;
        }

        div.column.table.output {
            width: 20%;
        }
    }

    dl.layer-box > dd {
        width: 100%;
        background: $layer-box-bg;
        min-height: calc(100% - 30px);
        @include box-sizing(border-box);
        padding: 10px;
        border-radius: 0 0 $layer-box-border-radius $layer-box-border-radius;
        overflow: scroll;
        height: 120px;
    }    
}

