html {
    font-family: $font-family-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: $font-size-base;
    min-width: 700px;
    height: 100%;
    // overflow: hidden;
}

p {
    margin: 0;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input[type=textarea],
input[type="text"],
input[type="password"],
textarea,
button,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
th {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.hidden {
    margin: 0;
    padding: 0;
    line-hight: 0;
    width: 0;
    height: 0;
    display: none;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: $font-color-base;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    margin-right: 8px;
}

section,
article,
#main,
#main>div,
main {
    height: 100%;
}